@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(form-item) {
  display: inline-block;
  width: 100%;
  & + & {
    margin-top: 30px;
  }
  @include e(label) {
    float: left;
    font-size: $--font-size-small;
    color: $--color-text-tip;
    margin-bottom: 10px;
  }
  @include e(inner) {
  }
  @include e(error) {
    display: inline-block;
    font-size: $--font-size-small;
    color: $--color-danger;
    margin-top: 6px;
  }
}