@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";

@include b(input) {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: $--font-size-base;
  @include e(inner) {
    display: block;
    width: 100%;
    padding: $--input-padding-vertical $--input-padding-horizontal;
    box-sizing: border-box;
    background-color: $--input-background-color;
    border-radius: $--input-border-radius;
    border: $--input-border;
    color: $--input-font-color;
    font-size: inherit;
    outline: none;
    -webkit-appearance: none;
    transition: $--border-transition-base;

    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }

    &.is-disabled {
      cursor: not-allowed;
      border: $--input-border;
    }
  }
}

@include b(textarea) {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: $--font-size-base;
  @include e(inner) {
    display: block;
    resize: vertical;
    width: 100%;
    padding: $--input-padding-vertical $--input-padding-horizontal;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: $--input-background-color;
    border-radius: $--input-border-radius;
    border: $--input-border;
    color: $--input-font-color;
    font-size: inherit;
    outline: none;
    -webkit-appearance: none;
    transition: $--border-transition-base;

    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }

    &.is-disabled {
      cursor: not-allowed;
      border: $--input-border;
    }
  }
}