@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";

@include b(panel) {
  padding: $--panel-padding-vertical $--panel-padding-horizontal;
  box-shadow: $--panel-box-shadow;
  background-color: $--color-white;
  font-size: 0;
  & + & {
    margin-top: 20px;
  }
}