@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(radio) {
  position: relative;
  display: inline-block;
  color: $--color-text-regular;
  font-size: 0;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  & + & {
    margin-left: 20px;
  }

  @include when(disabled) {
    cursor: not-allowed;

    @include e(label) {
      color: $--color-text-placeholder;
    }
  }

  @include e(input) {
    display: inline-block;
    font-size: 0;
  }

  @include e(inner) {
    position: relative;
    display: inline-block;
    width: $--radio-size;
    height: $--radio-size;
    background-color: $--radio-background-color;
    border-radius: $--border-radius-circle;
    transition: .1s;

    @include when(actived) {
      background-color: $--color-primary;
    }

    &::after {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $--color-white;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  @include e(original) {
    width: 0;
    height: 0;
    margin: 0;
    outline: none;
    opacity: 0;
    z-index: -1;
  }

  @include e(label) {
    font-size: $--font-size-base;
    margin-left: 6px;
    vertical-align: top;
  }
}