@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(select) {
  position: relative;
  display: inline-block;
  width: 100%;
  .bt-input__inner {
    cursor: pointer;
  }
  i {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 24px;
    transition: transform .3s;
    transform: rotateZ(180deg);
    @include when(reverse) {
      transform: rotateZ(0deg);
    }
  }
}
