@charset "UTF-8";
@import "common/var";
@import "mixins/_button";
@import "mixins/mixins";
@import "mixins/utils";


@include b(tag) {
  display: inline-block;
  position: relative;
  padding: $--tag-padding-vertical $--tag-padding-horizontal;
  border-radius: $--tag-border-radius;
  color: $--color-text-regular;
  font-size: $--font-size-extra-small;
  background-color: $--tag-default-background-color;
  transition: .1s;

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  i {
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
  }

  & + & {
    margin-left: 10px;
  }

  @include m(primary) {
    @include button-variant($--tag-primary-font-color, $--tag-primary-background-color, $--tag-primary-border-color);
  }

  @include m(info) {
    @include button-variant($--tag-info-font-color, $--tag-info-background-color, $--tag-info-border-color);
  }

  @include m(warn) {
    @include button-variant($--tag-warn-font-color, $--tag-warn-background-color, $--tag-warn-border-color);
  }

}