/* Transition */
$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;

$--border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1) !default;

/* Typography */
$--font-size-base: 14px !default;
$--font-weight-primary: 500 !default;

/* ZIndex */
$--index-normal: 1 !default;
$--index-top: 1000 !default;
$--index-popper: 2000 !default;

/* BoxShadow */
$--base-box-shadow: 0 1px 5px 0px rgba(0,0,0,.1), 1px 0px 5px 0 rgba(0,0,0,.05), -1px 0px 5px 0 rgba(0,0,0,.05);

/* Color */
$--color-primary: #5fb870 !default;
$--color-info: #7298ff !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--background-color-base: #f7f7f7 !default;
$--link-color-base: #3c86c7 !default;

$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default;
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default;
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default;
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default;
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default;
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default;
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default;

$--color-text-regular: #838383 !default;
$--color-text-placeholder: #bebebe !default;

$--border-color-base: #e2e2e2 !default;

/* Border */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 2px !default;

/* Button */

$--button-font-size: $--font-size-base !default;
$--button-font-weight: $--font-weight-primary !default;
$--button-border-radius: $--border-radius-base !default;
$--button-padding-vertical: 10px !default;
$--button-padding-horizontal: 24px !default;
$--button-box-shadow: 0 1px 8px 0px rgba(0,0,0,.1), 1px 0px 8px 0 rgba(0,0,0,.05), -1px 0px 8px 0 rgba(0,0,0,.05);
$--button-modifier-box-shadow: $--base-box-shadow;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

// default
$--button-default-font-color: $--color-text-regular !default;
$--button-default-border-color: $--border-color-base !default;
$--button-default-background-color: $--color-white !default;

// primary
$--button-primary-font-color: $--color-white !default;
$--button-primary-border-color: $--color-primary !default;
$--button-primary-background-color: $--color-primary !default;

// info
$--button-info-font-color: $--color-white !default;
$--button-info-border-color: $--color-info !default;
$--button-info-background-color: $--color-info !default;


/* Input */

$--input-font-color: $--color-text-regular !default;
$--input-background-color: $--background-color-base !default;
$--input-border: $--border-base !default;
$--input-border-radius: $--border-radius-base !default;
$--input-padding-vertical: 10px !default;
$--input-padding-horizontal: 24px !default;
$--input-placeholder-color: $--color-text-placeholder !default;
$--input-hover-border: $--border-color-hover !default;
$--input-focus-border: $--color-primary !default;


/* SelectDropdown */
$--select-dropdown-background: $--color-white !default;
$--select-dropdown-box-shadow: $--base-box-shadow !default;

/* SelectOption */
$--select-option-hover-background: $--background-color-base !default;
$--select-option-selected-font-color: $--color-primary !default;